<div class="row work-type">
  <div class="col-xs-12">&nbsp;</div>
  <div itemscope itemtype="http://schema.org/CreativeWork" class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Sorry, error occured while saving your data.
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">

            <button type="button" class="btn btn-primary" onclick="parent.$.fancybox.close();">Close</button>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
