<div class="container">

  <h2>Downloader Survey</h2>

<form action="/survey/submit" method="post">

  <div class="form-group row">
    <label for="status" class="col-sm-2 col-form-label">About you</label>
    <div class="col-sm-10">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="status"> Student
        </label>
      </div>
      <div style="padding-left: 20px;">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="status"> Undergraduate
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="status"> Masters
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="status"> PhD
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="status"> Other
          </label>
        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" name="email" placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
    <label for="institution" class="col-sm-2 col-form-label">Institution</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="institution" name="institution" placeholder="Institution">
    </div>
  </div>

  <input type="hidden" name="summary_id" value="<%= params["summary_id"] %>"/>
  <input type="hidden" name="summary_fileset_id" value="<%= params["summary_fileset_id"] %>"/>
  <input type="submit" class="btn btn-default" value="Submit">
</form>

</div>