<%
  cookies[:oasis_survey] = {
      :value => 'added_cookie',
      :expires => 99.year.from_now,
      :httponly => false
  }
%>

<div class="row work-type">
  <div class="col-xs-12">&nbsp;</div>
  <div itemscope itemtype="http://schema.org/CreativeWork" class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Thank you. The information you entered has been saved successfully.
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <%
              summary_doc = FileSetHelper.get_parent_summary_docs(params["fileset_id"])
            %>
            <input type="hidden" id="ga4_property_id" value="<%= Hyrax.config.google_analytics_id %>"/>
            <input type="hidden" id="summary_journals" value="<%= SummaryHelper.get_journals(summary_doc).join('|')%>"/>

            <button type="button"
                    class="btn btn-info"
                    id="file_download"
                    data-label="<%= params["fileset_id"] %>"
                    onclick="window.open('/downloads/<%= params["fileset_id"]%>','_blank');parent.$.fancybox.close();">Download summary</button>

            <button type="button" class="btn btn-info" onclick="parent.$.fancybox.close();">Close</button>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
