<h4>Tell us what you think about OASIS!</h4>
<p>We want to hear from our OASIS users! Please take 10 minutes to fill out 
	<a target=blanck href="https://t.co/um25OoNj78?amp=1">our survey.</a></p>
<p>Want monthly alerts of new summaries? <a target=blanck href="https://mailchi.mp/481ba176f2d1/oasis-alerts">Sign up</a> for our newsletter!</p>
