<div style="border: 1px solid white;border-radius: 15px;background: #286090;padding-top: 10px;">
  <div class="text-center">
    <p style="color: white">Total number of summaries downloaded</p>
    <h4 style="color: white"><%= @total_downloads %></h4>
  </div>
</div>
