<div style="border: 1px solid white;border-radius: 5px;background: #286090;padding: 10px;">
  <div>
    <h4 style="color: white">Number of total downloads: <%= @total_downloads %></h4>
  </div>
</div>
