<% provide :page_title, application_name %>

<div class="row home-content">
  <h4>Welcome to OASIS</h4>
  <p>The Open Accessible Summaries In Language Studies (OASIS) initiative aims to make research findings on language learning and teaching available and accessible to a wide audience.</p>
  <br/>

  <p>What would you like to do?</p>
  <div class="homepage_row">
    <div class="homepage_column">
      <div class="navbtn">
        Submit summary
      </div>
    </div>
    <div class="homepage_column">
      <div class="navbtn">
        Search and download
      </div>
    </div>
  </div>
  <br/>

  <h4>Project Team</h4>
  <p><a target="_blank" href="https://www.york.ac.uk/education/our-staff/academic/emma-marsden/">Emma Marsden</a> (University of York; project coordinator)</p>
  <p><a target="_blank" href="https://www.google.com/url?q=http://www.uva.nl/profiel/a/n/s.j.andringa/s.j.andringa.html">Sible Andringa</a> (University of Amsterdam)</p>
  <p><a target="_blank" href="https://www.google.com/url?q=http://www.concordia.ca/artsci/education/faculty.html?fpid%3Dlaura-collins">Laura Collins</a> (Concordia University)</p>
  <p><a target="_blank" href="https://www.google.com/url?q=http://cls.psu.edu/people/cnj1">Carrie Jackson</a> (Penn State University)</p>
  <p><a target="_blank" href="https://www.google.com/url?q=http://digitalcreativity.ac.uk/people/dr-rowena-kasprowicz">Rowena Kasprowicz</a> (University of York)</p>
  <p><a target="_blank" href="https://lukeplonsky.wordpress.com/">Luke Plonsky</a> (Georgetown University)</p>
  <br/>

  <h4>Collaborators</h4>
  <p><a target="_blank" href="https://www.all-languages.org.uk/teaching/guidance/primary-co-ordinators">The Association for Language Learning</a></p>
  <p><a target="_blank" href="http://www.uva.nl/profiel/a/n/s.j.andringa/s.j.andringa.html">Sible Andringa</a> (Universiteit van Amsterdam)</p>
  <p><a target="_blank" href="https://liberalarts.iupui.edu/directory/bio/manton">Marta Anton</a> (Indiana University-Purdue University Indianapolis)</p>
  <p>Ian Bauckham CBE (<a target="_blank" href="https://www.tenaxschoolstrust.co.uk/">CEO Tenax Schools Trust</a>, Author Teaching Schools Council MFL Pedagogy Report)</p>
  <p><a target="_blank" href="https://www.onderzoek.hu.nl/Onderzoekers/Catherine-van-Beuningen">Catherine van Beuningen</a>; (University of Applied Sciences Utrecht and Amsterdam University of Applied Sciences)</p>
  <p><a target="_blank" href="https://german.georgetown.edu/story/1242751814140.html">Heidi Byrnes</a> (Georgetown University)</p>
  <p><a target="_blank" href="https://www.westminster.ac.uk/about-us/our-people/directory/lamb-terry">Terry Lamb</a> (Secretary General, former President of the International Federation of Language Teaching Associations)</p>
  <p><a target="_blank" href="http://aplng.la.psu.edu/people/kzm197">Kevin McManus</a> (Penn State University)</p>
  <p><a target="_blank" href="https://www.linkedin.com/in/la%C3%ADs-borges-06475863/">Lais de Oliveira Borges</a> (UCL)</p>
  <p><a target="_blank" href="http://polio.msu.domains/">Charlene Polio</a> (Michigan State University)</p>
  <p><a target="_blank" href="https://iris.ucl.ac.uk/iris/browse/profile?upi=AREVE24">Andrea Revesz</a> (UCL)</p>
  <p><a target="_blank" href="https://www.york.ac.uk/education/our-staff/academic/fatma-said/">Fatma Said</a> (The University of York)</p>
  <p><a target="_blank" href="https://psychology.pitt.edu/people/natasha-tokowicz-phd">Natasha Tokowicz</a> (University of Pittsburgh)</p>
  <p><a target="_blank" href="http://www.pitt.edu/~tessa/">Tessa Warren</a> (University of Pittsburgh)</p>

  <%= image_tag("ESRC-logo-300x258.jpg", :alt => "ESRC", style: "height:auto;width:150px;") %><br/>
</div>

