<%= f.input :licence_agreement, as: :check_boxes,
    collection: [[sanitize("I have read and agree to the #{link_to 'Deposit Agreement', '/agreement', target: '_blank'}"),'Yes']],
    input_html: { style: 'checkbox inline'  }
%>
All OASIS summaries are licensed under a <a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA</a> license.
This means your material can be stored, shared, and adapted as long as it is
1) properly attributed,
2) only used for non-commercial purposes, and
3) any derivative products are distributed under the same licensing terms.
By accepting this license, you do not give up the copyright to your work or the right to submit the work to publishers or other repositories.
For more information see <a target="_blank" href="http://www.creativecommons.org">www.creativecommons.org</a>
<br/><br/>