<%= f.input :participants_educational_stage, as: :check_boxes,
    collection: GenericLocalAuthorityService.select_all_options('educational_stage'),
    value_method: lambda {|v| v.last.to_s },
    input_html: { multiple: true  }
%>

<div id="participants_educational_stage_other_div" style="display: none; position: relative; top: -20px;">
  <%= f.input :participants_educational_stage_other,
              input_html: { class: 'form-control' }
  %>
</div>
