<%= f.input :participants_institutional_characteristics, as: :check_boxes,
    collection: GenericLocalAuthorityService.select_all_options('institutional_characteristics'),
    value_method: lambda {|v| v.last.to_s },
    input_html: { multiple: true  }
%>

<div id="participants_institutional_characteristics_other_div" style="display: none; position: relative; top: -20px;">
  <%= f.input :participants_institutional_characteristics_other,
              input_html: { class: 'form-control' }
  %>
</div>