<%= f.input :publication_journal_name, as: :select,
    collection: GenericLocalAuthorityService.select_all_options('journals'),
    include_blank: true,

    input_html: { class: 'form-control' }
%>

<div id="publication_journal_name_other_div" style="display: none; position: relative; top: -20px;">
  <%= f.input :publication_journal_name_other,
              input_html: { class: 'form-control' }
  %>
</div>