<div class="no-preview">
  <%= t('hyrax.works.show.no_preview') %>
  <% if Hyrax.config.display_media_download_link? %>
    <%
      summary_doc = FileSetHelper.get_parent_summary_docs(file_set.id)
    %>
    <input type="hidden" id="summary_journals" value="<%= SummaryHelper.get_journals(summary_doc).join('|')%>"/>

    <p/><%= link_to t('hyrax.file_set.show.download'),
      hyrax.download_path(file_set),
      id: "file_download",
      data: { label: file_set.id },
      target: "_new",
      class: "btn btn-primary btn-block" %>
  <% end %>
</div>
