    <div class="metadata">
      <table class="table">
        <% doc_presenter = index_presenter(document) %>
        <%
          fields = {"summary_general_research_area_tesim": "Research Area",
                   "publication_author_tesim":"Author of Research",
                   "publication_date_tesim":"Publication Year",
                   "date_uploaded_dtsi":"Upload Date",
                   "summary_writer_tesim": "Summary Writer",
                   "participants_targetlanguage_tesim": "Language Being Learned"
                   }
        %>

        <%fields.each do |key,label|%>
            <% v = doc_presenter.field_value key%>
            <%unless v.nil? || v==''%>
                <tr>
                  <th><span class="attribute-label h4"><%= label %></span></th>
                  <td><%= v %></td>
                </tr>
            <% end%>
        <%end%>

      </table>
    </div>

    <div class="clearfix"></div>
