<h3>
  <% unless document.title_of_summary.nil? || document.title_of_summary==''%>
    <%= link_to document.title_of_summary, document %>
  <% else %>
    <%= link_to document.title_or_label, document %>
  <% end %>
</h3>
