.homepage_div {
    text-align: center;
    height: 2.5em;
    overflow: hidden;
}

.homepage_div h4{
    cursor: pointer;
}

.homepage_logo {
    max-height: 120px;
}

.text_left {
    text-align: left;
}

.catalog .list-thumbnail {
    max-width: 150px;
    max-height: 150px;
}

.menu_header {
    font-size: 24px;
    padding-top: 20px;
}

.works-list .media-body {
  width: 100%;
}

.representative-media {
  width: 150px;
 }

.image-masthead .background-container {
    filter: none;
}
