<h4>Accessible summaries</h4>

<p>
  The summaries are one-page descriptions of research articles that have been published in peer-reviewed journals of language learning, language teaching, and bilingualism on the <a target="_blank" href="http://ip-science.thomsonreuters.com/cgi-bin/jrnlst/jloptions.cgi?PC=K">Social Science Citation Index</a>. The summaries provide information about the study’s goals, how it was conducted, and what was found, written in non-technical language. Where relevant, they also highlight findings that may be of particular interest to language educators, although the initiative is not solely aimed at research with immediate practical implications. The summaries have all been approved, and often (co-)written, by the author(s) of the original journal article.
</p>

<h4>Why accessible summaries</h4>

<p>
OASIS aims to make research into language learning and teaching openly available and easily accessible to anyone who might be interested for professional or other reasons, because
  1) <a target="_blank" href="http://onlinelibrary.wiley.com/journal/10.1111/(ISSN)1540-4781/earlyview">research shows these findings do not reach stakeholders easily</a>; and
  2) <a target="_blank" href="https://elifesciences.org/articles/27725">research shows that academic publications are increasingly more difficult to read and understand for people outside the field</a>. By establishing a culture of systematic production and dissemination of non-technical, open summaries, research would be made available and accessible not only physically, but also conceptually to people outside academia.
</p>

<h4>Current activities</h4>

<ul>
  <li>Produce more Accessible Summaries</li>
  <li>Solicit feedback on the initiative and on the summaries themselves from stakeholders (practitioners, researchers, journal editors, etc.)</li>
  <li>Adapt existing infrastructure for the dissemination of Accessible Summaries via a searchable interface on <a target="_blank" href="https://www.iris-database.org/iris/">IRIS</a>.</li>
  <li>Seek funds to further develop the initiative.</li>
</ul>

<h4>Feedback.</h4>
<p>
We are seeking feedback on this initiative. Please send questions/comments/ideas about the format of the summaries or any information you have about similar initiatives to: iris@irisdatabase.org
</p>

<h4>Acknowledgments</h4>

<p>
We gratefully acknowledge funding from an Economic and Social Research Council Impact Acceleration Award and the Higher Education Impact Fund, via the University of York, UK.
</p>

<%= image_tag("ESRC-logo-300x258.jpg", :alt => "ESRC", style: "height:auto;width:150px;") %>
<%= image_tag("BritishAcademy.jpg", :alt => "ESRC", style: "height:auto;width:150px;") %>
