<h1>Uploading your summary is subject to acceptance of the following terms and conditions:</h1>
<br/>
<p>a) We (the OASIS team) cannot be held responsible for copyright permissions that should have been pursued for material contained in the summary, and we reserve the right to withdraw any material on the site that is found to be in breach of copyright.</p>
<p>b) Use of your summary by others is beyond the control of the OASIS team, and we cannot be held responsible for subsequent use of the summaries on OASIS.</p>
<p>c) If you become aware of any challenge to your ownership of the copyright, you will inform us as soon as possible and request that your instrument be removed from OASIS. Requests should be emailed to oasis@oasis-database.org. We will try to respond to your request within 14 business days.</p>
<p>d) The University of York retains the right to hand over OASIS, and the summaries contained within it at the time, to a suitable third party to continue the work of OASIS and to provide the OASIS service. This could occur if, for example, other bodies are required to support the repository, after initial funding has ended. It will remain branded as OASIS. The third party will be agreed upon by the OASIS team. Therefore, the permission/agreement that you provide to the University of York for inclusion of your summary in OASIS may at some future point be sub-licensed to the third party concerned.</p>
<br/>
<p>You agree and guarantee that any content ('Content') you provide or upload is original to you or to the author of the publication that has been summarised (as specified in the upload form) and does not infringe the copyright or any other rights of any other person. If this is not the case, you have obtained any consents necessary for you to provide the Content to the University of York, or have asked the OASIS team to pursue the necessary consents on your behalf.</p>

<p>Where the Content contains the work of one or more persons in addition to yourself, you have correctly attributed all co-authors and have their agreement to provision of the Content.</p>

<p>You agree and guarantee that you have made reasonable effort to obtain the consent (including opt-out consent) of the authors of the publication that has been summarised to make this Content available on OASIS.</p>

<p>By submitting Content you agree to provide to the University of York a non-exclusive, perpetual licence to provide Content on the OASIS web site, and that the University of York (and any future successors to whom the OASIS service is sub-licensed) will have the right to use and promote this (and authorise others to do so) as it sees fit.</p>

<p>You retain all ownership rights and, although the University of York and other users of the OASIS web site will be able to use the Content under a Creative Commons Licence, you will also have the right to use your Content in any way you choose.</p>
