<h2>What is a cookie?</h2>

A cookie is a small text file which helps your web browser navigate through a particular website. The cookie can then be read back later by the web browser as required. The use of cookies is a convenient way of allowing a computer to remember specific information relating to a website which has been visited.

<h2>Cookies we use in OASIS</h2>

<table border="0">
  <th>
    <td>Cookie</td>
    <td>Purpose</td>
  </th>
  <tr>
    <td></td>
    <td>

    </td>
  </tr>
</table>
