<div class="row">
  <h4>How to cite this summary</h4>

  <%=sanitize(SummaryApa.get_summary_reference_html(@presenter.solr_document._source["summary_writer_tesim"],
                                     DateTime.parse(@presenter.solr_document._source["date_uploaded_dtsi"]).strftime("%Y"),
                                     @presenter.solr_document._source["title_of_summary_tesim"],
                                     'OASIS Summary'))%>
  <%=request.original_url %>
</div>
