<%unless (@presenter.solr_document._source[field_name+"_tesim"].nil?) or (@presenter.solr_document._source[field_name+"_tesim"][0]=='') %>
    <div class="row detail_page_block">
        <div class="col-sm-3">
          <b><%=I18n.t('simple_form.labels.summary.'+field_name)%></b>
        </div>
        <div class="col-sm-9">
          <%unless @presenter.solr_document._source[field_name+"_tesim"].nil?%>
            <%@presenter.solr_document._source[field_name+"_tesim"].sort_by(&:to_i).each do |w|%>
              <%if 'Other' != GenericLocalAuthorityService.id_to_label(authority_file_name, w.to_i>0 ? w.to_i : w)%>
                  <%= link_to  GenericLocalAuthorityService.id_to_label(authority_file_name, w.to_i>0 ? w.to_i : w),
                         '/catalog?f['+field_name+'_sim][]='+w+'&locale=en&q=&search_field=all_fields',
                         :target => "_blank",
                         :title => "Search for: #{GenericLocalAuthorityService.id_to_label(authority_file_name, w.to_i>0 ? w.to_i : w)}"
                         %>
              <%else%>
                  Other
              <%end%>
              <br/>

              <%if 'Other' == GenericLocalAuthorityService.id_to_label(authority_file_name, w.to_i>0 ? w.to_i : w)%>
                <%unless @presenter.solr_document._source[field_name+"_other_tesim"].nil?%>
                  <ul>
                  <%@presenter.solr_document._source[field_name+"_other_tesim"].each do |w|%>
                      <%w.split(";").each do |o| %>
                        <li><%=o%></li>
                      <%end%>
                  <%end%>
                  </ul>
                <%end%>
              <%end%>
            <%end%>
          <%end%>
        </div>
    </div>
<%end%>