<%unless (@presenter.solr_document._source[field_name+"_tesim"].nil?) or (@presenter.solr_document._source[field_name+"_tesim"][0]=='') %>
    <div class="row detail_page_block">
        <div class="col-sm-3">
          <b><%=I18n.t('simple_form.labels.summary.'+field_name)%></b>
        </div>
        <div class="col-sm-9">
          <%unless @presenter.solr_document._source[field_name+"_tesim"].nil?%>
            <%@presenter.solr_document._source[field_name+"_tesim"].each do |w|%>
              <% if w.to_i>0 %>
                  <%=GenericLocalAuthorityService.id_to_label(authority_file_name, w.to_i)%><br/>
              <% else %>
                  <%=GenericLocalAuthorityService.id_to_label(authority_file_name, w)%><br/>
              <% end %>
              <%if 'Other' == GenericLocalAuthorityService.id_to_label(authority_file_name, w.to_i)%>
                  <ul>
                  <%@presenter.solr_document._source[field_name+"_other_tesim"].each do |w|%>
                      <li><%=w%></li>
                  <%end%>
                  </ul>
              <%end%>
            <%end%>
          <%end%>
        </div>
    </div>
<%end%>