
    <div class="row detail_page_item_block">
        <div class="col-sm-3">
          <b><%=I18n.t('simple_form.labels.summary.licence')%></b>
        </div>

        <div class="col-sm-9" style="vertical-align: middle;">
          <%= link_to 'Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)', 
          'https://creativecommons.org/licenses/by-nc-sa/4.0/', 
          target: :_blank,
          title: 'Licence: Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)'
          %>
        </div>
    </div>
