
    <div class="row detail_page_item_block">
        <div class="col-sm-3">
          <b><%=I18n.t('simple_form.labels.summary.licence')%></b>
        </div>

        <div class="col-sm-9" style="vertical-align: middle;">
          <%= link_to image_tag('by-nc-sa.eu.svg', height:32), 'https://creativecommons.org/licenses/by-nc-sa/4.0/', target: :_blank%>
        </div>
    </div>



