<%unless @presenter.solr_document._source["materials_on_iris_tesim"].nil? %>
    <div class="col-xs-12 summary-field">
      <h4><%=I18n.t('simple_form.labels.summary.materials_on_iris')%></h4>

      <%if @presenter.solr_document._source["materials_on_iris_tesim"][0]=='Yes'%>
          <%unless @presenter.solr_document._source["iris_url_tesim"].nil? %>
              <%=@presenter.solr_document._source["iris_url_tesim"][0]%>
          <%end%>
      <%else%>
          No
      <%end%>
    </div>
<%end%>
