<%unless @presenter.solr_document.materials_on_iris.nil? or @presenter.solr_document.materials_on_iris!='Yes'%>
    <div class="row detail_page_item_block">
        <div class="col-sm-3">
          <%= image_tag("iris_logo_small.jpg", :class=>'link_to_iris_small') %>
          <b><%=I18n.t('simple_form.labels.summary.materials_on_iris')%></b>
        </div>

        <div class="col-sm-9" style="vertical-align: middle;">
          <%if @presenter.solr_document.materials_on_iris=='Yes'%>
              <%unless @presenter.solr_document.iris_url.nil? %>
                  <%= link_to @presenter.solr_document.iris_url, @presenter.solr_document.iris_url, target: "_blank"%>
              <%end%>
          <%end%>
        </div>
    </div>
<%end%>


