<div class="row detail_page_item_block">
      <div class="col-sm-3">
        <b>Original publication</b>
      </div>
      <div class="col-sm-9">
        <%
        authors = @presenter.solr_document.publication_author_all unless @presenter.solr_document.publication_author_all.nil?
        %>

        <% if(!@presenter.solr_document._source["publication_journal_name_label_tesim"].include? 'Other') %>
            <%=sanitize(Apa.get_reference_html(JSON.parse(authors),
                                 @presenter.solr_document.publication_date,
                                 @presenter.solr_document.publication_title[0],
                                 @presenter.solr_document.publication_journal_name,
                                 true,
                                 @presenter.solr_document.publication_volume,
                                 @presenter.solr_document.publication_issue,
                                 @presenter.solr_document.publication_pages_from,
                                 @presenter.solr_document.publication_pages_to,
                                 @presenter.solr_document.publication_identifier
                                 ), attributes: %w(href target))%>
        <%else%>
            <%=sanitize(Apa.get_reference_with_other_journal_name_html(JSON.parse(authors),
                                               @presenter.solr_document.publication_date,
                                               @presenter.solr_document.publication_title[0],
                                               @presenter.solr_document.publication_journal_name_other,
                                               @presenter.solr_document.publication_journal_name_other_url,
                                               true,
                                               @presenter.solr_document.publication_volume,
                                               @presenter.solr_document.publication_issue,
                                               @presenter.solr_document.publication_pages_from,
                                               @presenter.solr_document.publication_pages_to,
                                               @presenter.solr_document.publication_identifier
                                               ), attributes: %w(href target))%>
        <%end%>
        <br>
        <%unless @presenter.solr_document.original_article_open_access.nil? or @presenter.solr_document.original_article_open_access!='Yes'%>
        This article is open access
        <%= image_tag "openaccess.png", :class=>'original_article_open_access_small'%>
    <%end%>
      </div>
</div>
