<div class="row detail_page_item_block">
      <div class="col-sm-3">
        <b>Publication</b>
      </div>
      <div class="col-sm-9">
        <%
        authors = @presenter.solr_document._source["publication_author_all_tesim"] unless @presenter.solr_document._source["publication_author_all_tesim"].nil?
        authors = @presenter.solr_document._source["publication_author_tesim"] if authors.nil?
        %>
        <% if(!@presenter.solr_document._source["publication_journal_name_label_tesim"].include? 'Other') %>
            <%=sanitize(Apa.get_reference_html(JSON.parse(authors[0]),
                                 @presenter.solr_document._source["publication_date_tesim"],
                                 @presenter.solr_document._source["publication_title_tesim"],
                                 @presenter.solr_document._source["publication_journal_name_tesim"],
                                 @presenter.solr_document._source["publication_volume_tesim"],
                                 @presenter.solr_document._source["publication_issue_tesim"],
                                 @presenter.solr_document._source["publication_pages_from_tesim"][0],
                                 @presenter.solr_document._source["publication_pages_to_tesim"][0]))%>
        <%else%>
            <%=sanitize(Apa.get_reference_html(JSON.parse(authors[0]),
                                               @presenter.solr_document._source["publication_date_tesim"],
                                               @presenter.solr_document._source["publication_title_tesim"],
                                               @presenter.solr_document._source["publication_journal_name_other_tesim"],
                                               @presenter.solr_document._source["publication_volume_tesim"],
                                               @presenter.solr_document._source["publication_issue_tesim"],
                                               @presenter.solr_document._source["publication_pages_from_tesim"][0],
                                               @presenter.solr_document._source["publication_pages_to_tesim"][0]))%>
        <%end%>
      </div>
</div>
