<div class="row detail_page_item_block">
      <div class="col-sm-3">
        <b>Writer of summary</b>
      </div>
      <div class="col-sm-9">
        <%=sanitize(Apa.get_author_string(JSON.parse(@presenter.solr_document.summary_writer_all)))%>
      </div>
</div>
